@import 'tailwindcss';

:root {
  font-family: Pretendard;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --spacing: 1px;

  --color-gray-10: #dde1e6;
  --color-gray-20: #918f9d;
  --color-gray-30: #3c3c3c;
  --color-white: #3c3c3c;
  --color-alert: #ff6ec0;
  --color-black: #0d062c;
  --color-secondary-10: #f1ccff;
  --color-secondary-20: #e499ff;
  --color-secondary-30: #d666ff;
  --color-secondary-40: #c933ff;
  --color-secondary-50: #a63ccc;
  --color-primary-10: #e0dbf8;
  --color-primary-20: #c1b6f2;
  --color-primary-30: #a292eb;
  --color-primary-40: #836de4;
  --color-primary-50: #6449dd;
}

@layer base {
  :root {
  --color-gray-10: #dde1e6;
  --color-gray-20: #918f9d;
  --color-gray-30: #3c3c3c;
  --color-white: #3c3c3c;
  --color-alert: #ff6ec0;
  --color-black: #0d062c;
  --color-secondary-10: #f1ccff;
  --color-secondary-20: #e499ff;
  --color-secondary-30: #d666ff;
  --color-secondary-40: #c933ff;
  --color-secondary-50: #a63ccc;
  --color-primary-10: #e0dbf8;
  --color-primary-20: #c1b6f2;
  --color-primary-30: #a292eb;
  --color-primary-40: #836de4;
  --color-primary-50: #6449dd;
  }
}

::-webkit-scrollbar {
  display: none;
}
